html{
    font-size: 100px;
}
body{
    font-size: .24rem;   
    color: #333;  
}
html,body{
    overflow: hidden;
    width: 100%;
    height: 100%;
}


@font-face {
    font-family: "PingFangSCRegular";
    src: url("../fonts/PingFangSCRegular.ttf") format("truetype");
  }
  
  html,
  body,
  div,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  hr,
  a,
  em,
  img,
  strong,
  b,
  u,
  i,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  form,
  input,
  button,
  tr,
  th,
  td,
  footer,
  header,
  nav {
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
    padding: 0;
    margin: 0;  
    border: none;
    outline: none; 
    font-family: "PingFangSCRegular";
  }
  
  i,
  em {
    font-style: normal;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  a {
    color: #222; 
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  img {
    /* display: block; */
    vertical-align: top;
  }
  

